#  Copyright (c) University College London Hospitals NHS Foundation Trust
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
################################################################################

# Common variables
x-http-proxy: &http-proxy ${HTTP_PROXY:-}
x-https-proxy: &https-proxy ${HTTPS_PROXY:-}
x-no-proxy: &no-proxy localhost,0.0.0.0,127.0.0.1,uclvlddpragae10

x-proxy-common: &proxy-common
  HTTP_PROXY: *http-proxy
  http_proxy: *http-proxy
  HTTPS_PROXY: *https-proxy
  https_proxy: *https-proxy
  NO_PROXY: *no-proxy
  no_proxy: *no-proxy

x-docker-gid: &docker-gid
  DOCKER_USER_GID: ${DOCKER_USER_GID}

x-build-args-common: &build-args-common
  <<: [*proxy-common, *docker-gid]

x-github-pat: &github-pat
  GITHUB_PAT: ${GITHUB_PAT}

services:
  prefect_server:
    image: prefecthq/prefect:3-latest
    command: prefect server start --host 0.0.0.0
    ports:
      - ${PREFECT_SERVER_API_PORT:-4200}:${PREFECT_SERVER_API_PORT:-4200}
    environment:
      PREFECT_SERVER_API_HOST: ${PREFECT_SERVER_API_HOST:-localhost}
      PREFECT_SERVER_API_PORT: ${PREFECT_SERVER_API_PORT:-4200}
      PREFECT_SERVER_API_AUTH_STRING: ${PREFECT_SERVER_API_AUTH_STRING:-admin:pass}
      PREFECT_API_AUTH_STRING: ${PREFECT_API_AUTH_STRING:-admin:pass}
    volumes:
      - prefect_db:/root/.prefect

  omop_es:
    env_file: "./omop_es/.env"
    build:
      context: "./docker"
      target: omop_es
      args:
        <<: [*build-args-common, *github-pat]
    platform: linux/amd64
    environment:
      <<: *proxy-common
      ENVIRONMENT: ${ENVIRONMENT:-dev}
      OMOP_ES_VERSION: ${OMOP_ES_VERSION:-master}
      RENV_PATHS_CACHE: ${RENV_PATHS_CACHE_CONTAINER}
      SETTINGS_ID: "${SETTINGS_ID}"
      BATCHED: "${BATCHED}"
      OUTPUT_DIRECTORY: "${OUTPUT_DIRECTORY}"
      ZIP_OUTPUT: "${ZIP_OUTPUT}"
      TZ: Europe/London
    volumes:
      - "./extract:/app/extract"
      - "${RENV_PATHS_CACHE_HOST}:${RENV_PATHS_CACHE_CONTAINER}"

  omop-cascade:
    env_file: "./omop-cascade/.env"
    build:
      context: "./docker"
      target: omop-cascade
      args:
        <<: [*build-args-common, *github-pat]
        OMOP_CASCADE_BRANCH: ${OMOP_CASCADE_BRANCH:-master}
    platform: linux/amd64
    environment:
      <<: *proxy-common
      CRDM_ID: "${CRDM_ID}"
      TZ: Europe/London
    volumes:
      - "./omop-cascade/local:/share/local"

volumes:
  prefect_db:
